@font-face {
    font-family: star-jedi;
    src: url(../font/Starjedi.ttf);
}
@font-face {
    font-family: starhollow;
    src: url(../font/Starjhol.ttf);
}
@font-face {
    font-family: basic;
    src: url(../font/galbasic.ttf);
}
html {
    height: 100%;
}

.heading {
    font-family: star-jedi;
    text-align: center;
    color: #ffea00;
    font-size: 9vw;
    padding: 20px;
}
.heading2 {
    color:#ffea00;
    font-size: 5vw;
    font-family: sans-serif;
    text-align: center;
    padding-top: 20px;
    letter-spacing: .2vw;
}

body{
    height: 100%;
    width: 100%;
    background-image: url(../images/background.png);
    background-color: black;
}

#stButton, #done, #tryagain{
    text-align: center;
    font-size: 3vw;
    color: #3babbf;
    background-color: black;
    border: solid white 1px;
    
}

h1 {
    color: #ffea00;
}

#start {
    width: 70vw;
    margin-left: 15vw;
    padding: 2vw;
    text-align: center;
    background-color: black;
}

#gameplay{
    text-align: justify;
    font-size: 2vw;
    color: #3babbf;
    width: 70vw;
    margin-left: 15vw;
    background-color: black; 
    padding: 2vw;
}
#timer, #number {
    font-family: sans-serif;
    color: #3babbf;
    text-align: center;
}

#results {
    width: 70vw;
    margin-left: 15vw;
    padding: 2vw;
    text-align: center;
    background-color: black;
}

#thanks {
    font-family: basic;
    font-size: 2vw;
    color: #3babbf;
}

.end {
    font-size: 2vw;
}